# -----------------------------------------
# PYTHON VIRTUAL ENVIRONMENTS (Do not push)
# -----------------------------------------
.venv/
venv/
*/.venv/
*/venv/

# -----------------------------------------
# ENVIRONMENT VARIABLES (never push)
# -----------------------------------------
.env
*.env
*/.env
.env.*
*.env.*

# -----------------------------------------
# PYTHON CACHE FILES
# -----------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------------------
# BUILD / DIST
# -----------------------------------------
build/
dist/
*.egg-info/

# -----------------------------------------
# IDE / EDITOR FILES
# -----------------------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# -----------------------------------------
# OS FILES
# -----------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------
# LOGS
# -----------------------------------------
*.log

# -----------------------------------------
# SENSITIVE FILES / CREDENTIALS
# -----------------------------------------
credentials.json
*.json.enc
Notifications.json
firebase-service-account.json
