fastapi
uvicorn
SQLAlchemy
pydantic<2
PyJWT
cryptography
pymysql
redis
python-dotenv
email-validator
# "pydantic[email]"

#pip install -r requirements.txt

# cd nucleotide_backend

# python -m venv venv      [environment creation]

# venv\Scripts\activate    [windows]
# source venv/bin/activate [macOS]

# uvicorn app.main:app --reload [to run the app]